@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
  color: rgb(20, 20, 21); 
  font-family: "Inconsolata Nerd Font", "ui-monospace", monospace; 
  font-size: 13px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  background: rgba(20,20,21);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left,
.right {
  display: flex;
  align-items: center;
  height: 100%;
}

.left {
  margin-left: 0px;
}

.right {
  margin-right: 0px;
}

.workspaces {
  display: flex;
  height: 100%;
}

.workspace {
  background: none;
  color: rgb(200, 220, 200, 0.7);
  border: none;
  cursor: pointer;
  height: 100%;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
  transition: background 0.3s ease, color 0.3s ease;
}


.workspace.focused {
  background: rgb(144, 144, 172);
}

.workspace:hover {
  background: rgb(144, 144, 172);
}


.aikabox {
  height: 100%;
  min-width: 120px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  letter-spacing: 0px;
  padding: 0;
  margin-right: 0;
}

.aika {
  padding: 0 10px;
  color: rgb(200, 220, 200); 
}

.zen-symbol {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.1);
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-family: "Inconsolata Nerd Font";

}

.battery {
  position: relative;
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  letter-spacing: 0px;
  margin-right: 0;
  color: rgb(200, 220, 200); 
}

.battery .charging-icon {
  position: absolute;
  font-size: 8px;
  top: 3px;
  left: -8px;
  color: rgba(100, 200, 100, 0.3); 
}

.cpu,
.memory {
  display: none;
}
